body{
    background-color: #EFF6FF;
}
.banner {
    background-image: url('../images/banner-back.png'); /* Specify the path to your image */
    background-size: cover; /* Ensure the background image covers the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    height: 80vh;
}

/* scroll */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #3B82F6;
    border-radius: 10px;
}

/* Font */
.leading-font-main {
    font-size: 48px;
    font-weight: 600;
}
.leading-font-second {
    font-size: 18px;
    font-weight: 400;
}
.leading-pill{
    color: #3B82F6;
}
.font-main {
    color: #3B82F6;
}
.font-second {
    color: #374151;
}

/* Navbar */
.nav-menu-center{
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 26px;
}
.nav-link {
    color: #374151; 
    font-weight: 700;
  }
.nav-link:hover {
    color: #3B82F6; /* Your desired hover color */
  }
  
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #EFF6FF !important;
}

/* Button */
.btn-default {
    font-size: 16px;
    font-weight: 500;
    padding: 7px 20px;
    text-wrap: nowrap;
}
.active {
    color: #3B82F6 !important;
}
.menu {
    background: none;
    border: none;
}

/* Section */
.section-name {
    margin-bottom: 0.25rem;
    font-weight: 500;
    color: #3B82F6;
    font-size: 18px;
}
.section-title {
  margin-bottom: 0.25rem;
  font-weight: 649;
  font-size: 37px;
}

/* Card */
.e-card {
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: ;
    height: 330px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    /* background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb); */
  }
  .wave-1 {
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  .wave-2 {
    background: linear-gradient(744deg,#bfa5d1,#936BBE 60%,#E5B9E6);
  }
  .wave-3 {
    background: linear-gradient(744deg,#444141,#05B5D0 60%,#AADCE4);
  }
  .wave-4 {
    background: linear-gradient(744deg,#3a3837,#E78B40 60%,#ECBE9F);
  }
  .wave-5 {
    background: linear-gradient(744deg,#7a6367,#DB3753 60%,#EF8B9C);
  }
  .wave-6 {
    background: linear-gradient(744deg,#66785d,#3CB802 60%,#A6DD8D);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
    padding: 15px;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 250px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /* JB */
.btn-round{
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 400; 
cursor: pointer;
}
  .faded-ball {
    box-shadow: 0px 0px 500px 200px #efeee6;
    right: 215px;
    top: 33px;
    position: absolute;
    z-index: -1;
}
.banner{
  position: relative;
  z-index: -2;
}
.w-505{
  width: 505px;
}

.image-record {
  background-image: url(../images/Frame10.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 83%;
  height: 79vh;
  border: 7px solid #3b82f6;
  transform: rotate(10deg);
  border-radius: 27px;
  margin-left: 30px;
}
.text-record{
  margin-top: -5px;
  font-size: 17px;
  padding: 5px;
}
.p-lr{
  padding-left: 16px;
  padding-right: 48px;
}
.project-card{
  width: 25rem;
  border-radius: 20px;
  background: transparent;
}
.project-card:hover{
  background-color: white;
  border: 1px solid black;
}
.card-image{
  height: 277px;
  width: 100%;
  padding: 13px;
  border-radius: 18px;

}
.app-design{
  width: 25%;
  font-size: 14px;
  color: black;
  border-radius: 4px;
  background-color: #bae6fd;
  position: absolute;
  left: 26px;
  top: 216px;

}
.app-design:hover{
  background-color: #bae6fd;
  color: black;
  

}
.font-700{
  font-weight: 700;
}
.font-14{
  font-size: 14px;
  margin-top: 19px;
  margin-bottom: 34px !important;
}
.arrow{
  cursor: pointer;
  margin-top: 2rem;
}
.pl-10{
  padding-left: 10rem;
}
.left{
  margin-right: 2rem;
}
.right{
  margin-right: 4rem;
}
/* about us */
.about-us{

  height: 142vh;
}
.leftsvg{
  width: 30rem;
    height: auto;
    position: absolute;
    top: 91px;
    left: 0px;
    z-index: -1;
}
.rightsvg{
  width: 30rem;
    height: auto;
    position: absolute;
    top: 91px;
    right: 0px;
    z-index: -1;
}
.leftsvgend{
  width: 30rem;
  height: auto;
  position: absolute;
  top: 43rem;
  left: -5px;
  z-index: -1;

  clip-path: inset(0px 0px 26rem 0px);

  object-fit: cover;
}
.rightsvgend{
  width: 30rem;
  height: auto;
  position: absolute;
  top: 43rem;
  right:0px;
  z-index: -1;
  clip-path: inset(0px 0px 26rem 0px);

  object-fit: cover;
}

.about-us-title{
  font-size: 3rem;
  position: relative;
  top: 70px;
}
.underlinesvg{
  top: 54px;
  position: relative;
}
.teamworkjpg{
  width: 103%;
    height: auto;
    clip-path: inset(15px 22px 22px 15px);
    object-fit: cover;
    border-radius: 68px 83px 91px 79px;
    margin-top: 5.5rem;
    margin-left: -0.8rem;

}
.about-us-card{
  margin-top: 6.2rem;
  background-color: #f9fdff;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 26px -9px rgb(126 126 126 / 45%);
  padding-top: 1.3rem;
    padding-right: 1rem;
    padding-left: 2rem;
    
}
.font-2rem{
  font-size: 2.5rem;
}
.rounded-sm{
  border-radius: 12px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.experience-card{
  background-color: #f9fdff;
  position: relative;
  border-radius: 19px;
  width: 97%;
  height: 38vh;
  margin-top: 17px;
  padding-top: 35px;
  box-shadow: 0px 0px 26px -9px rgb(126 126 126 / 45%);
}
/* choose us */
.choose-us{
  height: 554px;
  background-color: #60a5fa;
  background-image: url(../images/choose-us.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.choose-us-title{
  font-size: 3rem;
  position: relative;
  top: 70px;
  color: #f0f9ff ;
}
.choose-us-para{
  margin-top: 5rem;
  color: #F1F5F9;
  width: 91%;
  text-align: center;
  margin-left: 2.5rem;
  font-size: 17px;
  font-weight: 100;
}
.font-dark{
  color:#364050!important ;
}
.choose-us-card{
  background: transparent;
  /* border: 1px solid #f0f9ff; */
  border-radius: 10px;
  height: 260px;
  width: 364px;
  border: 1.5px solid #93C5FD;
  padding :40px 16px 40px 16px;
  text-align: center;
}
.choose-us-card-title{
  font-size: 24px;
  color: #FAFAFA;
  margin:10px 0px;
  font-weight: 600;
}
.choose-us-card-para{
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 400;
}
/* emplooyee */
.employee{
  height: 137vh;
}
.pixels1{
  border-radius: 19px;
  position: absolute;
  margin-top: 5rem;

}
.pixels2{
  border-radius: 19px;
  position: absolute;
  margin:9rem 0 0 17.8rem;

}
.pixels3{
  border-radius: 19px;
  position: absolute;
  margin-top: 28rem;

}
.pixels4{
  border-radius: 19px;
  position: absolute;
  margin:32rem 0 0 17.8rem;
}
.employee-card{
  margin-top: 13rem;
  padding: ;
}
.employee-title{
  font-size: 48px;

}
.employee-body{
  font-size: 20px;
  margin-top: 2rem;
}
/* our team */
.font-3rem{
  font-size: 3rem;
}
.member-card{
  width: 255px;
  height: 180px;
}
.arrow-image {
  clip-path: polygon(-60% 0%, 169% 0%, 35% 100%, 58% 100%);
  border-radius: 10px;
}
.arrow{
  clip-path: inset(0px 0px 32px 0px); 
}
.member {
  position: relative; /* Ensure .member is the reference for absolute positioning */
  transition: 0.5s;
}

.member:hover {
  transform: translateY(-25px);
  z-index: 1;
}

.member:hover .memeber-position {
  /* margin-bottom: 0; */
}

.memeber-expertise {
  position: absolute; /* Position absolutely to prevent affecting the layout */
  bottom: 25px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%) translateY(10px); /* Center horizontally and move down */
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  visibility: hidden; /* Hide the element initially */
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  width: 100%;
}

.member:hover .memeber-expertise {
  opacity: 1;
  visibility: visible; /* Make the element visible */
  transform: translateX(-50%) translateY(0); /* Center horizontally and move up */
 
}
.member-card a img{
  transition: 0.5s;
}
.member:hover .member-card a img {
  transform: translateY(63px) ;
  transition: 0.5s;

}

.member-name {
  font-size: 30px;
}

.memeber-position {
  font-size: 14px;
  font-weight: 500;
}

.member-card a {
  transform: translateY(20px);
}

.member-card a:hover {
  transform: scale(1.1);
}
.line{
  border-bottom: 1px solid #00000033;
  width: 100%;
  margin: 0 auto;
}
/* partner */
.partner{
  height:384px;
}

/* partner slider */
.slider-container {
  width: 1140px;
  height: 140px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

}

.slider {
  display: flex;
  width: max-content; /* allow the content to be as wide as it needs */
  animation: slide 20s linear infinite;
}

.slide {
  min-width: 285px; /* 1140px / 4 = 285px */
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Prevent shrinking */
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-1140px); /* move exactly the width of the container */
  }
}
/* Collaborate */
.collaborate{
  height: 336px;
  background-color: #60A5FA;
  margin-top: 1rem;
}
.collaborate-title{
  font-size: 36px;
  font-weight: 600;
  color: #EFF6FF;
  padding-top: 6rem;
}
.collaborate-para{
  color: #E5E7EB;
}
.collaborate-btn{
  padding: 9px 54px;
  border-radius: 11px;
  color:white
}
.collaborate-btn-2{
  padding: 9px 24px;
  border-radius: 11px;
  color: white;
  margin-left: 30px;

}
.collaborate-btn:hover , .collaborate-btn-2:hover{
  color: #60A5FA;
}

.collaborate-icon .icon-path {
  transition: stroke 0.3s ease;
}

.collaborate-btn:hover  .icon-path  {
  stroke: #60A5FA; /* Change stroke color to black on hover */

}
.collaborate-btn-2:hover  .icon-path {
  stroke: #60A5FA; /* Change stroke color to black on hover */
}
/* footer */
.footer{
  height: 685px;

}
.footer-logo{
  margin-top: 6rem;
}
.footer-title{
  font-size: 36px;
  color:#374151;
  margin: 0 auto;
  width:66%;
  
}
.email-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 5px;
  background-color: #F9F9F9;
  width: 35%;
  margin: 0 auto;
  
}

.email-input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
  font-size: 16px;
  border-radius: 25px; /* Match the container's border-radius */
  background-color: transparent; /* Make the input's background transparent */

}

.send-button {
  background-color: #3B82F6;
  border: none;
  outline: none;
  padding: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-para{
  font-size: 16px;
  color: #353535;
  font-weight: 400;
}
.footer-ul-title{
  font-size: 20px;
  font-weight: 700;
  color: #93C5FD;
}
.footer-ul li:first-child{
  margin-top: 1.5rem !important;
  
}
.footer-ul-item{
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  list-style-type: none;
  margin-left: -2rem;
  margin-top: 0.5rem;
}
.footer-phone ,.footer-mail{
  font-size: 18px;
  font-weight: 600;
}




/* responsive */
@media (max-width: 576px) {
  .leftsvg{
    width: 12rem;
    top: 12rem;
  }
  .rightsvg{
    width: 12rem;
    top: 12rem;
  }
  .teamworkjpg{
    margin-left: 0;
  }
  .experience-card{
    padding: 33px;
  }
  .font-2rem{
    font-size: 1.5rem;
  }
}